<div class="container2">


  <div class="edit-header">

    <h1 id="edit-title">
      <a href="/gallery">_POLETEKT   </a>
    </h1>


    {{#if photo}}
      <div class="edit-container">
        <label class="dropdown2">

            <p id="edit-button">
              EDIT
            </p>
              <input type="checkbox" class="dd-input2" id="test">
            <ul class="dd-menu2">

            <form method="post" action="/gallery/{{photo.id}}/edit" enctype="application/x-www-form-urlencoded">
              <input type="hidden" name="_method" value="PUT">
              AUTHOR: <input type="text" name="author"value = "{{photo.author}}"><br>
              LINK: <input type="text" name="link" value = "{{photo.link}}"><br>
              DESCRIPTION: <input type="text" name="description" value = "{{photo.description}}"><br>
              <button id="send-edit" type="submit">_SEND</button>
            </form>

            </ul>

            <form method="post" action="/gallery/{{photo.id}}/edit" enctype="application/x-www-form-urlencoded">
              <input type="hidden" name="_method" value="DELETE">
              <button id="delete-button" type="submit">DELETE</button>
            </form>

          </label>
      </div>
  </div>

  <div class="photo_edit">
    <img id="image" src="{{photo.link}}" alt="not working">
    <h2 id="underbox">{{photo.author}}:{{photo.description}}</h2>
  </div>

  {{else}}
    <h1>Product Not Found</h1>
    <form action="/products/" method="post">
      Name: <input type="text" name="name"><br> Price: <input type="text" name="price"><br> Inventory <input type="text" name="inventory"><br>
      <input type="submit" value="Submit">
    </form>
    {{/if}}
</div>
