<div class="container2">


  <div class="edit-header">

    <h1 id="edit-title">
      <a href="/gallery">_POLETEKT   </a>
    </h1>


    {{#if photo}}
      <div class="edit-container">


            <button id="myBtn">EDIT</button>

            <div id="myModal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
            <form method="post" action="/gallery/{{photo.id}}/edit" enctype="application/x-www-form-urlencoded">

              <input type="hidden" name="_method" value="PUT">
              {{#each data}}
              <input type="checkbox" name="{{@key}}" value="{{this}}">
              {{@key}}:{{this}}
            {{/each}}
              AUTHOR: <input type="text" name="author"value = "{{photo.author}}"><br>
              LINK: <input type="text" name="link" value = "{{photo.link}}"><br>
              DESCRIPTION: <input type="text" name="description" value = "{{photo.description}}"><br>
                  <button id="send-edit" type="submit">SEND</button>
                  <form method="post" action="/gallery/{{photo.id}}/edit" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="_method" value="DELETE">
                    <button id="delete-button" type="submit">DELETE</button>
                  </form>
              <div class="add_meta_field">
                <ul id="meta_fields"></ul>

                <button id="add_meta_field_button" type="button" >Edit Meta Data</button>
              </div>
            </form>
          </div>

         </div>






      </div>


  <div class="photo_edit">
    <img id="image" src="{{photo.link}}" alt="not working">
    <h2 id="underbox">{{photo.author}}:{{photo.description}} </h2>


  </div>

  {{else}}
    <h1>Product Not Found</h1>
    <form action="/products/" method="post">
      Name: <input type="text" name="name"><br> Price: <input type="text" name="price"><br> Inventory <input type="text" name="inventory"><br>
      <input type="submit" value="Submit">
    </form>
    {{/if}}
</div>

<script src="/js/metaFields.js"></script>
<script src="/js/styles.js"></script>
